#root {
  height: 100vh;
  width: 100vw;
}
.App {
  height: 100%;
  width: 100%;
  display: flex;
}

.Music {
  margin: auto;
}
.span20 {
  margin-left: 20px;
  margin-right: 20px;
}
.span10 {
  margin-left: 10px;
  margin-right: 10px;
}

button:hover {
  cursor: pointer;
}

.button-3d {
  position: relative;
  background: #ecd300;
  background: radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
  font-size: 1rem;
  text-shadow: 0 -1px 0 #c3af07;
  color: white;
  border: 1px solid hsl(54, 100%, 20%);
  border-radius: 100%;
  height: 40px;
  width: 40px;
  z-index: 4;
  outline: none;

  box-shadow: inset 0 1px 0 hsl(54, 100%, 50%), 0 2px 0 hsl(54, 100%, 20%),
    0 3px 0 hsl(54, 100%, 18%), 0 4px 0 hsl(54, 100%, 16%),
    0 5px 0 hsl(54, 100%, 14%), 0 6px 0 hsl(54, 100%, 12%),
    0 7px 0 hsl(54, 100%, 10%), 0 8px 0 hsl(54, 100%, 8%),
    0 9px 0 hsl(54, 100%, 6%);
}

.button-3d:hover {
  background: radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
}

.button-3d:active {
  background: radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
  top: 2px;
  box-shadow: inset 0 1px 0 hsl(54, 100%, 50%), 0 2px 0 hsl(54, 100%, 16%),
    0 3px 0 hsl(54, 100%, 14%), 0 4px 0 hsl(54, 100%, 12%),
    0 5px 0 hsl(54, 100%, 10%), 0 6px 0 hsl(54, 100%, 8%),
    0 7px 0 hsl(54, 100%, 6%);
}

.button-3d-1 {
  position: relative;
  background: #ecd300;
  background: radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
  font-size: 0.8rem;
  text-shadow: 0 -1px 0 #c3af07;
  color: white;
  border: 1px solid hsl(54, 100%, 20%);
  /* border-radius: 100%; */
  height: 50px;
  width: 50px;
  z-index: 4;
  outline: none;

  box-shadow: inset 0 1px 0 hsl(54, 100%, 50%), 0 2px 0 hsl(54, 100%, 20%),
    0 3px 0 hsl(54, 100%, 18%), 0 4px 0 hsl(54, 100%, 16%),
    0 5px 0 hsl(54, 100%, 14%), 0 6px 0 hsl(54, 100%, 12%),
    0 7px 0 hsl(54, 100%, 10%), 0 8px 0 hsl(54, 100%, 8%),
    0 9px 0 hsl(54, 100%, 6%);
}

.button-3d-1:hover {
  background: radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
}

.button-3d-1:active {
  background: radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
  top: 2px;
  box-shadow: inset 0 1px 0 hsl(54, 100%, 50%), 0 2px 0 hsl(54, 100%, 16%),
    0 3px 0 hsl(54, 100%, 14%), 0 4px 0 hsl(54, 100%, 12%),
    0 5px 0 hsl(54, 100%, 10%), 0 6px 0 hsl(54, 100%, 8%),
    0 7px 0 hsl(54, 100%, 6%);
}
